MYSQL_ROOT_PASSWORD=CHANGE-ME
MYSQL_DATABASE=CHANGE-ME
MYSQL_USER=CHANGE-ME
MYSQL_PASSWORD=CHANGE-ME
MYSQL_HOST=CHEANGE-ME
MYSQL_PORT=CHANGE-ME
MYSQL_BACKUP_PASSWORD=CHANGE-ME
BASE_URL=http://nginx:80/
URL_API=http://api:8000
